.seller-dashboard {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icon {
  cursor: pointer;
}

.menu-icon img {
  width: 30px;
  height: 30px;
}

.return-button {
  background: #333;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  padding: 10px;
}

.dashboard-content {
  display: grid; /* Use grid layout */
  grid-template-columns: 200px 1fr; /* Sidebar takes 200px, content takes the remaining space */
  grid-gap: 20px; /* Add some gap between sidebar and content */
}

.side-menu {
  width: 200px;
  background-color: #f0f0f0;
  padding: 1rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.side-menu.open {
  transform: translateX(0);
}


.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu li {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
}

.side-menu li:hover {
  background-color: #ccc;
}

.side-menu .active {
  background-color: #333;
  color: #fff;
}

.section-content {
  padding: 20px;
}
