.seller-dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.seller-header {
  background-color: wheat;
}

.menu-icon {
  cursor: pointer;
}

.menu-icon img {
  width: 2.5em;
  height: 2.5em;
}

.dashboard-content {
  display: flex;
  flex: 1;
}

.seller-dashboard .side-menu {
  width: 15vw;
  background-color: white;
  padding: 1rem;
  height: 100%;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu li {
  cursor: pointer;
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 0.5em;
}

.side-menu li:hover {
  background-color: #ccc;
}

.side-menu .active {
  font-weight: 550;
}

.section-content {
  flex: 1;
  padding: 2em;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .menu-icon img {
    width: 1.8em;
    height: 1.8em;
  }

  .seller-dashboard {
    flex-direction: column-reverse;
  }

  .dashboard-content {
    flex-direction: column;
  }

  .seller-dashboard .side-menu {
    width: 100%;
    padding: 1em;
  }
}