/* ArtworkManagement.css */

.artwork-management-container {
  text-align: center;
  margin: 1.25rem;
}

.add-artwork-button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1.25rem;
  border-radius: 0.3125rem;
  display: block; 
  margin: 0 auto;
  margin-bottom: 1rem;
  max-width: 18rem;
  max-height: 2rem;
  align-content: center;
  padding: 0.5rem;
}

.add-artwork-button:hover {
  background-color: #0056b3;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  width: 18.75rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1.25rem 0.625rem;
  position: relative; /* Add position relative to the product card */
}

.product-image {
  max-width: 100%;
  max-height: 18.75rem;
  height: auto;
}

.product-name {
  margin: 1.25rem 0;
  font-size: 1.125rem;
  font-weight: bold;
}

.product-description {
  font-size: 0.875rem;
}

.product-quantity,
.product-price {
  font-size: 0.75rem;
  color: #666;
}

.action-buttons {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0; /* Fix edit button to the bottom left */
  justify-content: space-between;
  width: 100%;
}

.action-buttons button {
  background-color: #3c3c3c; /* Grey color for buttons */
  color: #fff;
  border: none;
  padding: 0.3125rem 0.625rem;
  font-size: 0.875rem;
  cursor: pointer;
  border-radius: 0.3125rem;
  margin: 0.8rem;
}

.action-buttons button:hover {
  background-color: #716e6e; /* Darker grey on hover */
}

.edit-artwork-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.973);
  z-index: 1000;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.edit-artwork-form {
  text-align: center;
}

.edit-artwork-form h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.edit-artwork-form label {
  display: block;
  margin-bottom: 15px;
  font-size: 1rem;
}

.edit-artwork-form input,
.edit-artwork-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-artwork-form textarea {
  resize: vertical;
}

.edit-artwork-form button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px; /* Smaller padding */
  cursor: pointer;
  font-size: 0.875rem; /* Smaller font size */
  width: 36%;
  border-radius: 5px;
  margin: 1rem;
}

.edit-artwork-form button:hover {
  background: #0056b3;
}
