ul {
  list-style: none;
  padding: 0;
}

.side-menu li {
  cursor: pointer;
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 0.25em;
  transition: background-color 0.3s ease;
}

.active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.side-menu :not(:last-child) {
  border-bottom: 1px solid #ccc;
}